version: 2

updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "weekly"
    open-pull-requests-limit: 10
    versioning-strategy: increase
    labels:
      - dependencies
      - automated
    commit-message:
      prefix: "build: "
  - package-ecosystem: github-actions
    directory: "/.github/"
    schedule:
      interval: weekly
    open-pull-requests-limit: 5
    labels:
      - "ci"
      - "automated"
    commit-message:
      prefix: "ci: "